@import "../../styles/typography.scss";

.favorites-page {
  &__top {
    margin-bottom: 55px;
  }

  &__title {
    @extend %h2;
  }

  &__catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    margin-bottom: 64px;
  }
}
