.page {
  &__body {
    @extend %body-text;
    background-color: $bg-color;
    scroll-behavior: smooth;
  }
  
  &__app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  &__wrapper {
    padding-top: 12px;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 70px;
  }
}
