@import "../../styles/typography.scss";
@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.check-out-page {
  padding-bottom: 62px;
  &__top {
    margin-bottom: 55px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__log-in-link {
    text-decoration: underline;
  }

  &__form {
    display: grid;
    gap: 15px;
  }

  &__fieldset {
    border: none;
    padding: 0;
  }

  &__fields {
    display: grid;
    gap: 14px;

    &--disabled {
      display: none;
    }
  }

  &__inputs-wrapper {
    display: flex;
    gap: 10px;
  }

  &__legend-wrapper {
        display: flex;
    width: 100%;
    padding-block: 14px;
    border-bottom: 1px solid transparent;
    justify-content: space-between;

    &--checked {
      border-bottom-color: $dark-pink;
    }

    &--disabled {
      border-bottom-color: $dark-pink;
      color: $dark-pink
    }
  }

  &__legend {
    display: flex;
    gap: 2px;
    font-size: 20px;
    font-weight: 500;
  }

  &__edit-btn {
    width: 10px;height: 10px;
    justify-self:right;
  }

  
  /* Custom checkbox styles */
  &__remember-container {
  position: relative;
  cursor: pointer;
  font-size: 20px;
  padding-left: 24px;
  display: flex;
  align-items:flex-start;
  }

  /* Hidden default checkbox */
  &__remember-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  }

  &__remember-checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $secondary-red; 
    border-radius: 3px;
    position: absolute;
    top: 4px;
    left: 0;
    
    &::after {
      content: '\2713'; // Unicode checkmark symbol
      display: none;
      font-size: 16px;
      color: $secondary-red;
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%);
    }
    
    /* Custom checkbox checked state */
    .check-out-page__remember-checkbox:checked + &::after {
      display: block;
    }
  }
}
